# {{ ansible_managed }}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name {{ grafana_server_name }};

  ssl_certificate /etc/ssl/ansible/certs/grafana.fullchain.pem;
  ssl_certificate_key /etc/ssl/ansible/private/grafana.key;

  add_header Strict-Transport-Security "max-age=15552000";

  location / {
    proxy_set_header Host $http_host;
    proxy_pass http://127.0.0.1:3000;
  }

  access_log /var/log/nginx/grafana-access.log;
  error_log /var/log/nginx/grafana-error.log;
}
