; {{ ansible_managed }}

[global]
;debug = yes

{% set listen_udp = False %}
{% for trunk_name, trunk in jigasi.trunks.items() %}
{% if trunk.transport == 'udp' %}
{% set listen_udp = True %}
{% endif %}
{% endfor %}
[transport-udp]
type = transport
protocol = udp
{% if listen_udp %}
bind = 0.0.0.0
external_media_address = {{ jitsi_meet_domain }}
external_signaling_address = {{ jitsi_meet_domain }}
{% else %}
bind = 127.0.0.1
{% endif %}

[transport-tls]
type = transport
protocol = tls
bind = 0.0.0.0
domain = {{ jitsi_meet_domain }}
ca_list_file = /etc/ssl/certs/ca-certificates.crt
cipher = ECDHE-ECDSA-AES128-GCM-SHA256,ECDHE-RSA-AES128-GCM-SHA256,ECDHE-ECDSA-AES256-GCM-SHA384,ECDHE-RSA-AES256-GCM-SHA384,DHE-RSA-AES128-GCM-SHA256,DHE-RSA-AES256-GCM-SHA384,ECDHE-ECDSA-AES128-SHA256,ECDHE-RSA-AES128-SHA256,ECDHE-ECDSA-AES128-SHA,ECDHE-RSA-AES256-SHA384,ECDHE-RSA-AES128-SHA,ECDHE-ECDSA-AES256-SHA384,ECDHE-ECDSA-AES256-SHA,ECDHE-RSA-AES256-SHA,DHE-RSA-AES128-SHA256,DHE-RSA-AES128-SHA,DHE-RSA-AES256-SHA256,DHE-RSA-AES256-SHA,AES128-GCM-SHA256,AES256-GCM-SHA384,AES128-SHA256,AES256-SHA256,AES128-SHA,AES256-SHA
method = sslv23
; We don't expect clients, so not configured
;cert_file =
;priv_key_file =

; ================================================================
; Jitsi:

[jigasi]
type = endpoint
transport = transport-udp
;media_encryption = sdes
context = inbound-jitsi
disallow = all
allow = opus
auth = jigasi
aors = jigasi
callerid = {{ jigasi.caller_id }}

[jigasi]
type = auth
auth_type = userpass
username = jigasi
password = {{ jigasi.password }}

[jigasi]
type = aor
remove_existing = yes
max_contacts = 1

{% for trunk_name, trunk in jigasi.trunks.items() %}
; ================================================================
; Trunk: {{ trunk_name }}

{% set port = {'tls': 5061, 'udp': 5060}[trunk.transport ] %}
[{{ trunk_name }}]
type = registration
transport = transport-{{ trunk.transport }}
outbound_auth = {{ trunk_name }}
auth_rejection_permanent = no
retry_interval = 30
forbidden_retry_interval = 300
max_retries = 100
client_uri = sip:{{ trunk.username }}@{{ trunk.server }}:{{ port }}
server_uri = sip:{{ trunk.server }}:{{ port }}

[{{ trunk_name }}]
type = auth
auth_type = userpass
username = {{ trunk.username }}
password = {{ trunk.password }}
realm = {{ trunk.realm }}

[{{ trunk_name }}]
type = aor
contact = sip:{{ trunk.username }}@{{ trunk.server }}

[{{ trunk_name }}]
type = endpoint
transport = transport-{{ trunk.transport }}
{% if trunk.sdes %}
media_encryption = sdes
{% endif %}
context = inbound-{{ trunk_name }}
disallow = all
allow = {{ trunk.codecs|join(',') }}
from_user = {{ trunk.username }}
auth = {{ trunk_name }}
outbound_auth = {{ trunk_name }}
aors = {{ trunk_name }}
send_rpid = yes

[{{ trunk_name }}]
type = identify
endpoint = {{ trunk_name }}
match = {{ trunk.server }}

{% endfor %}
