#!/bin/sh
# {{ ansible_managed }}

set -euf

{% if 'hdmi2usbd' in serial_terminal|default({}) %}
	echo sudo systemctl {{ item }} hdmi2usbmond
	sudo systemctl {{ item }} hdmi2usbmond || true
{% endif %}

systemctl list-unit-files --state=enabled \
	| sed -nre 's/^(videoteam-.*).(path|service).*/\1.service/ p' \
	| while read service; do
	echo sudo systemctl {{ item }} $service
	sudo systemctl {{ item }} $service || true
done

systemctl --user list-unit-files --state=enabled \
	| sed -nre 's/^(videoteam-.*.service).*/\1/ p' \
	| sed -e 's/@\./@0./' \
	| while read service; do
	echo systemctl --user {{ item }} $service
	systemctl --user {{ item }} $service || true
done

{% if item == 'start' %}

voctocore-set-loop
{% endif %}
