---
# {{ ansible_managed }}
{% raw %}
groups:
  - name: storage
    rules:
      - alert: VideoDiskFull
        expr: >
          100 - ((node_filesystem_avail_bytes{mountpoint="/srv/storage",
          fstype!="rootfs"} * 100) /
          node_filesystem_size_bytes{mountpoint="/srv/storage",
          fstype!="rootfs"}) > 90
        for: 1m
        labels:
          severity: page
        annotations:
          summary: "Instance {{ $labels.instance }} has a nearly storage disk"
          description: >
            "{{ $labels.instance }} has a /srv/storage file system that is more
            than 90% full"
{% endraw %}
