---
# {{ ansible_managed }}
{% raw %}
groups:
  - name: voctomix
    rules:
      - alert: RecordingStopped
        expr: >
          rate(node_disk_written_bytes_total{instance=~"voctomix[0-9].*",
          device="md0"}[5m]) < 15000
        for: 1m
        labels:
          severity: page
        annotations:
          summary: "Voctomix {{ $labels.instance }} not recording"
          description: >
            "{{ $labels.instance }} has not been recording for more than 1
            minute."

      - alert: StreamingStopped
        expr: >
          rate(node_network_transmit_bytes_total{instance=~"voctomix[0-9].*",
          device="eno1"}[5m]) < 100000
        for: 1m
        labels:
          severity: page
        annotations:
          summary: "Voctomix {{ $labels.instance }} not recording"
          description: >
            "{{ $labels.instance }} has not been recording for more than 1
            minute."
{% endraw %}
