# {{ ansible_managed }}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name {{ vogol.server_name }};

  ssl_certificate /etc/ssl/ansible/certs/vogol.fullchain.pem;
  ssl_certificate_key /etc/ssl/ansible/private/vogol.key;

  add_header Strict-Transport-Security "max-age=15552000";

  location / {
    proxy_pass http://127.0.0.1:8080;
  }

  location /ws {
    proxy_pass http://127.0.0.1:8080;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }

  access_log /var/log/nginx/vogol-access.log;
  error_log /var/log/nginx/vogol-error.log;
}
