# {{ ansible_managed }}
127.0.0.1 localhost

{% for host in staticips.hosts %}
{% if host.ip is defined %}
{% if host.fqdn is defined %}
{% if host.aliases is defined %}
{{ host.ip }} {{ host.fqdn }} {{ host.hostname }} {{ host.aliases|join(" ") }}
{% else %}
{{ host.ip }} {{ host.fqdn }} {{ host.hostname }}
{% endif %}
{% else %}
{% if host.aliases is defined %}
{{ host.ip }} {{ host.hostname }}.{{ domain }} {{ host.hostname }} {{ host.aliases|join(" ") }}
{% else %}
{{ host.ip }} {{ host.hostname }}.{{ domain }} {{ host.hostname }}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
