jibri {
    // A unique identifier for this Jibri
    // TODO: eventually this will be required with no default
    id = "jibri-{{ inventory_hostname }}"
    // Whether or not Jibri should return to idle state after handling
    // (successfully or unsuccessfully) a request.  A value of 'true'
    // here means that a Jibri will NOT return back to the IDLE state
    // and will need to be restarted in order to be used again.
    single-use-mode = false
    api {
        http {
            external-api-port = 2222
            internal-api-port = 3333
        }
        xmpp {
            // See example_xmpp_envs.conf for an example of what is expected here
            environments = [
            {
                name = "prod environment"
                xmpp-server-hosts = [ "{{ jitsi_meet_domain }}" ]
                xmpp-domain = "{{ jitsi_meet_domain }}"

                control-muc {
                    domain = "internal.auth.{{ jitsi_meet_domain }}"
                    room-name = "JibriBrewery"
                    nickname = "jibri-{{ inventory_hostname }}"
                }

                control-login {
                    domain = "auth.{{ jitsi_meet_domain }}"
                    username = "{{ jibri.user | default('jibri') }}"
                    password = "{{ jibri.password }}"
                }

                call-login {
                    domain = "recorder.{{ jitsi_meet_domain }}"
                    username = "{{ jibri.recorder_user | default('recorder') }}"
                    password = "{{ jibri.recorder_password }}"
                }

                strip-from-room-domain = "conference."
                usage-timeout = 0 minutes
                trust-all-xmpp-certs = true
            }]
        }
    }
    recording {
        recordings-directory = "/srv/recordings"
        finalize-script = "/path/to/finalize_recording.sh"
    }
    streaming {
        // A list of regex patterns for allowed RTMP URLs.  The RTMP URL used
        // when starting a stream must match at least one of the patterns in
        // this list.
        rtmp-allow-list = [
            // By default, all services are allowed
            ".*"
        ]
    }
    ffmpeg {
        resolution = "1280x720"
        // The audio source that will be used to capture audio on Linux
        audio-source = "alsa"
        // The audio device that will be used to capture audio on Linux
        audio-device = "plug:bsnoop"
    }
    chrome {
        // The flags which will be passed to chromium when launching
        flags = [
            "--use-fake-ui-for-media-stream",
            "--start-maximized",
            "--kiosk",
            "--enabled",
            "--disable-infobars",
            "--autoplay-policy=no-user-gesture-required"
        ]
    }
    stats {
        enable-stats-d = true
    }
    webhook {
        // A list of subscribers interested in receiving webhook events
        subscribers = []
    }
    jwt-info {
        // The path to a .pem file which will be used to sign JWT tokens used in webhook
        // requests.  If not set, no JWT will be added to webhook requests.
        # signing-key-path = "/path/to/key.pem"

        // The kid to use as part of the JWT
        # kid = "key-id"

        // The issuer of the JWT
        # issuer = "issuer"

        // The audience of the JWT
        # audience = "audience"

        // The TTL of each generated JWT.  Can't be less than 10 minutes.
        # ttl = 1 hour
    }
    call-status-checks {
        // If all clients have their audio and video muted and if Jibri does not
        // detect any data stream (audio or video) comming in, it will stop
        // recording after NO_MEDIA_TIMEOUT expires.
        no-media-timeout = 30 seconds

        // If all clients have their audio and video muted, Jibri consideres this
        // as an empty call and stops the recording after ALL_MUTED_TIMEOUT expires.
        all-muted-timeout = 10 minutes

        // When detecting if a call is empty, Jibri takes into consideration for how
        // long the call has been empty already. If it has been empty for more than
        // DEFAULT_CALL_EMPTY_TIMEOUT, it will consider it empty and stop the recording.
        default-call-empty-timeout = 30 seconds
    }
}
