# {{ ansible_managed }}

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

auto eth-local
iface eth-local inet static
     address {{ eth_local_address }}/{{ eth_local_netmask }}
{% for config in eth_local_extra_config|default([]) %}
     {{ config }}
{% endfor %}
{% if eth_local_gateway %}
     gateway {{ eth_local_gateway }}
{% endif %}

{% if eth_uplink_mac_address is defined %}

auto eth-uplink
iface eth-uplink inet static
     address {{ eth_uplink_static_address }}/{{ eth_uplink_static_netmask }}
     gateway {{ eth_uplink_static_gateway }}
{% for config in eth_uplink_extra_config|default([]) %}
     {{ config }}
{% endfor %}
{% if eth_uplink_dns_server %}
     dns-nameservers {{ eth_uplink_dns_server }}
{% endif %}
{% endif %}
