# {{ ansible_managed }}

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

auto eth-local
iface eth-local inet static
     address {{ eth_local_address }}/{{ eth_local_netmask }}
{% for config in eth_local_extra_config|default([]) %}
     {{ config }}
{% endfor %}
{% if eth_local_gateway %}
     gateway {{ eth_local_gateway }}
{% endif %}

{% if eth_uplink_mac_address is defined %}
auto eth-uplink
iface eth-uplink inet dhcp
{% for config in eth_uplink_extra_config|default([]) %}
     {{ config }}
{% endfor %}
{% endif %}
{% if eth_uplink_wifi_ssid is defined %}
     wpa-ssid {{ eth_uplink_wifi_ssid }}
{% if eth_uplink_wifi_psk is defined %}
     wpa-psk {{ eth_uplink_wifi_psk }}
{% else %}
     wpa-key-mgmt NONE
{% endif %}
{% endif %}
